 profiles{
    slurm{
        process.executor = 'slurm'
        singularity.enabled = true
        singularity.cacheDir = "/srv/data_sata/work_desk/.nf_cache/"
        conda.cacheDir = "/srv/data_sata/work_desk/.nf_cache/"
        queueSize = 50
        submitRateLimit = '1 sec'
    }
    uppmax_inter{
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir = "/srv/data_sata/work_desk/.nf_cache/"
        conda.cacheDir = "/srv/data_sata/work_desk/.nf_cache/"
        queueSize = 100
        submitRateLimit = '0.1 sec'
    }

    local{
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir ="/srv/data_sata/work_desk/.nf_cache/"
        conda.cacheDir = "/srv/data_sata/work_desk/.nf_cache/"
        queueSize = 10
    }
  
 }

 process{
    // cpus = 1
    // memory = 6.GB
    // time = '20min'
    // queue = 'core'
    // clusterOptions='-A naiss2023-22-1200'


    withName:PROKKA{
        cpus = 10
        memory = 16.GB
        // time='60min'
    }
     withName:GFFREAD{
        ext.args="-T -F -t CDS"
    }
    withName:ROARY{
        cpus = 10
        memory = 16.GB
        // time='60min'
    }
    
    withName: DIAMOND_BLASTX{
        cpus = 5
        memory = 5.GB
        // time='20min'
        ext.args='--max-target-seqs 1 --masking 0 --quiet'
    }
    
    withName:FASTQC{
        cpus = 2
        memory = 8.GB
        // time='30min'
    }

    withName:TRIMMOMATIC{
        cpus = 5
        memory = 8.GB
        ext.args2 = 'ILLUMINACLIP:TruSeq3-PE.fa:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36'
        // time='30min'
    }

    withName: STAR_GENOMEGENERATE{
        ext.args='--genomeSAindexNbases 8' //for E.coli    
        cpus = 5
    }
    
    withName: STAR_ALIGN{
        ext.args = '--alignIntronMax 1 --readFilesCommand gunzip -c' //for bacteria and gz fastq 
        cpus = 5
        memory=16.GB
    }

    withName: SALMON_QUANT{
        cpus = 5
    }

    withName: SUBREAD_FEATURECOUNTS{
        ext.args='-t transcript -g gene_id -s 0 --largestOverlap'
        cpus = 4
    }
    withName: BEDTOOLS_GENOMECOV{
        ext.args='-bga -split'
       
    }
    
}
